<p>transacciones works!</p>

<button class="">salicion</button>

<section>
<button (click)="crearTransaccion()">Crear</button>
<table>
  <thead>
    <tr>
      <th>
        Monto
      </th>
      <th>
        Motivo
      </th>
      <th>
        Acciones
      </th>
    </tr>
  </thead>
  <tbody>
    @for (transacciones of transacciones; track $index){
      <tr>
        <td>
          {{transacciones.monto}}
        </td>
        <td>
          {{transacciones.motivo}}
        </td>
        <td>
          <button (click)="actualizarTransaccion(transacciones)">Editar</button>
          <button (click)="eliminarTransaccion(transacciones.id)">Eliminar</button>
        </td>
      </tr>
    }@empty {
      <tr>No hay datos bb</tr>
    }
  </tbody>
</table>

@if(formTransaccion){
  <form [formGroup] = "formTransaccion" (submit)="guardarTransaccion()">
    <label for="monto">Monto</label>
    <input formControlName="monto" type="number" id="monto">

    <label for="motivo">Motivo</label>
    <textarea formControlName="motivo" name="" id="motivo"></textarea>

    <label for="tipo">Tipo</label>
    <select formControlName="id_tipo_transaccion" id="tipo">
      <option [value]="null">Seleccione un tipo...</option>
      @for (item of tipoTransacciones; track $index){
        <option [value]="item.id">{{item.tipo_transaccion}}</option>
      }
    </select>

    <label for="fecha">Fecha</label>
    <input formControlName="fecha" type="date" id="fecha">

    <button type="submit">Guardar</button>
    <button (click)="cancelarTransaccion()">Cancelar</button>
  </form>
}
</section>




