<button (click)="crearTransaccion()">Crear</button>
<table>
  <thead>
    <tr>
      <th>
        Monto
      </th>
      <th>
        Motivo
      </th>
      <th>
        Acciones
      </th>
    </tr>
  </thead>
  <tbody>
    @for (transacciones of transacciones; track $index){
      <tr>
        <td>
          {{transacciones.monto}}
        </td>
        <td>
          {{transacciones.motivo}}
        </td>
        <td>
          <button (click)="actualizarTransaccion(transacciones, $index)">Editar</button>
          <button (click)="eliminarTransaccion($index)">Eliminar</button>
        </td>
      </tr>
    }@empty {
      <tr>No hay datos bb</tr>
    }
  </tbody>
</table>

@if(formTransaccion){
  <form [formGroup] = "formTransaccion" (submit)="guardarTransaccion()">
    <label for="monto">Monto</label>
    <input formControlName="monto" tupe="number" id="monto">

    <label for="motivo">Motivo</label>
    <textarea formControlName="motivo" name="" id="motivo"></textarea>
    <button type="submit">Guardar</button>
    <button (click)="cancelarTransaccion()">Cancelar</button>
  </form>
}



